<!DOCTYPE html>
<html>
<head>
	<title>Saving status</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>The raspberry is now rebooting, please wait...</h1>
			</div>
		</div>

		<div class="progress progress-striped active">
			<div class="bar" style="width: 100%;"></div>
		</div>

	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>